<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система Автоматизации Аптеки</title>
    <link rel="stylesheet" href="css/form.css">
</head>


<body>

<header>
    <img id = "img1" src="css/burger.png" class="toggle-submenu" onmouseover="toggleMenu('block')" onmouseout="toggleMenu('none')">
</header>

<div id="reports_cards_container">
    <div id="cards_container">
        <div class="card">
            <img src="css/clients.png">
        </div>

        <div class="card">
            <img src="css/creation.png">
        </div>

        <div class="card">
            <a href="/sale">
                <img src="css/sale.png">
            </a>
        </div>

        <div class="card">
            <img src="css/supply.png">
        </div>
    </div>

    <div id="reports_container">
        <div class="report">
            отчет
        </div>

        <div class="report">
            отчет
        </div>

        <div class="report">
            отчет
        </div>

        <div class="report">
            отчет
        </div>
    </div>
</div>

</body>
</html>